# ===================== 构建产物（本地产物，无意义入库） =====================
*_Runs/
*.log
*.logw
*.log.*
*.logw.*
src/td_project/log/
*.bit
*.rbf

# ===================== 本地工具/私有记忆 =====================
.workbuddy/
.recent_user_depot.ini
*.cwc

# ===================== 操作系统/编辑器 =====================
.DS_Store
Thumbs.db
*.swp
